<window id="4">
	<defaultcontrol always="true">9500</defaultcontrol>
	<allowoverlay>yes</allowoverlay>

	<controls>

		<include>Background</include>
		<include>FusionStyles</include>

		<control type="image">
			<posx>110</posx>
			<posy>130</posy>
			<width>1072</width>
			<height>496</height>
			<aspectratio>stretch</aspectratio>
			<texture>settings/bg.png</texture>
			<colordiffuse>FFFFFFFF</colordiffuse>
			<animation type="WindowOpen" reversible="false">
				<effect type="fade" start="0" end="100" time="100" delay="0" />
			</animation>
			<animation type="WindowClose" reversible="false">
				<effect type="fade" start="100" end="0" time="100" delay="0" />
			</animation>
		</control>  
		<control type="image">
			<posx>110</posx>
			<posy>130</posy>
			<width>1072</width>
			<height>496</height>
			<aspectratio>stretch</aspectratio>
			<texture>settings/bg.png</texture>
			<colordiffuse>99FFFFFF</colordiffuse>
			<animation type="WindowOpen" reversible="false">
				<effect type="fade" start="0" end="100" time="100" delay="0" />
			</animation>
			<animation type="WindowClose" reversible="false">
				<effect type="fade" start="100" end="0" time="100" delay="0" />
			</animation>
		</control>

        <!-- LIST -->
		<control type="panel" id="9500">
			<posx>130</posx>
			<posy>150</posy>
			<width>1055</width>
			<height>510</height>
			<onleft>9500</onleft>
			<onright>9500</onright>
			<onup>9500</onup>
			<ondown>9500</ondown>
			<scrolltime>200</scrolltime>
			<viewtype label="icon">icon</viewtype>
			<animation type="WindowOpen" reversible="false">
				<effect type="fade" start="0" end="100" time="100" delay="0" />
			</animation>
			<animation type="WindowClose" reversible="false">
				<effect type="fade" start="100" end="0" time="100" delay="0" />
			</animation>
			<itemlayout height="255" width="175">
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>158</width>
					<height>157</height>
					<fadetime>400</fadetime>
					<aspectratio>stretch</aspectratio>
					<texture>$INFO[ListItem.ActualIcon]</texture>
					<colordiffuse>DDFFFFFF</colordiffuse>
				</control>	
				<control type="label">
					<posx>-48</posx>
					<posy>165</posy>
					<width>250</width>
					<height>35</height>
					<font>homemenu3</font>
					<textcolor>cf707070</textcolor>
					<align>center</align>
					<label>$INFO[ListItem.Label]</label>
				</control>
			</itemlayout>
			<focusedlayout>
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>158</width>
					<height>157</height>
					<aspectratio>stretch</aspectratio>
					<texture>settings/catbg.png</texture>
				</control>
				<control type="image">
					<posx>0</posx>
					<posy>168</posy>
					<width>160</width>
					<height>32</height>
					<aspectratio>stretch</aspectratio>
					<texture>settings/catfo.png</texture>
				</control>
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>158</width>
					<height>157</height>
					<fadetime>400</fadetime>
					<aspectratio>stretch</aspectratio>
					<texture>$INFO[ListItem.ActualIcon]</texture>
					<colordiffuse>FFFFFFFF</colordiffuse>
				</control>	
				<control type="label">
					<posx>-48</posx>
					<posy>165</posy>
					<width>250</width>
					<height>35</height>
					<font>homemenu3</font>
					<textcolor>white</textcolor>
					<align>center</align>
					<label>$INFO[ListItem.Label]</label>
				</control>
			</focusedlayout>

            <!--CONTENT-->
			<content>
				<item id="1">
					<description>Video</description>
					<label>317790</label>
					<icon>settings/video.png</icon>
					<onclick>activatewindow(MyVideosSettings)</onclick>
				</item>
				<item id="2">
					<description>About</description>
					<label>317789</label>
					<icon>tvicon.png</icon>
					<onclick>activatewindow(PVRSettings)</onclick>
				</item>
				<item id="3">
					<description>Audio</description>
					<label>317791</label>
					<icon>settings/audio.png</icon>
					<onclick>activatewindow(MyMusicSettings)</onclick>
				</item>
				<item id="4">
					<description>Pics</description>
					<label>317792</label>
					<icon>settings/pics.png</icon>
					<onclick>activatewindow(MyPicturesSettings)</onclick>
				</item>
				<item id="5">
					<description>Weather</description>
					<label>317793</label>
					<icon>settings/weather.png</icon>
					<onclick>activatewindow(MyWeatherSettings)</onclick>
				</item>
				<item id="6">
					<description>Network</description>
					<label>317794</label>
					<icon>settings/network.png</icon>
					<onclick>activatewindow(servicesettings)</onclick>
				</item>
				<item id="7">
					<description>Addons</description>
					<label>317795</label>
					<icon>settings/addons.png</icon>
					<onclick>xbmc.activatewindow(addonbrowser)</onclick>
				</item>
				<item id="8">
					<description>Appearance</description>
					<label>317796</label>
					<icon>settings/appearance.png</icon>
					<onclick>activatewindow(AppearanceSettings)</onclick>
				</item>
				<item id="9">
					<description>Profiles</description>
					<label>317797</label>
					<icon>settings/profiles.png</icon>
					<onclick>xbmc.activatewindow(34)</onclick>
				</item>
				<item id="10">
					<description>Info</description>
					<label>317798</label>
					<icon>settings/info.png</icon>
					<onclick>activatewindow(7)</onclick>
				</item>
				<item id="11">
					<description>System</description>
					<label>317799</label>
					<icon>settings/system.png</icon>
					<onclick>activatewindow(SystemSettings)</onclick>
				</item>
				<item id="12">
					<description>FusionSettings</description>
					<label>317800</label>
					<icon>settings/fusion.png</icon>
					<onclick>activatewindow(SkinSettings)</onclick>
				</item>
			</content>
		</control>

		<include>ZBar</include>
		<include>MusicOverlay</include>
		<include>VideoOverlay</include>
		<include>nav</include> 
	</controls>

</window>